@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

/* font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main_box{
    position: relative;
    background: url(./img/bahar.png) right no-repeat;
    height: 100vh;
    width: 100%;
}

.main_box .sidebar_menu{
    position: fixed;
    height: 100vh;
    width:280px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.1);
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255,255,255,0.5) ;
}

.sidebar_menu .logo a{
    color: #fff;
    font-size:25px;
    font-weight: 500;
    position: absolute;
    left:50px;
    line-height:60px;
    text-decoration: none;

}

.sidebar_menu .menu{
    position:absolute;
    top:80px;
    width: 100%;
}

.sidebar_menu .menu li{
    margin-top:6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i{
    color: #fff;
    font-size:20px;
    padding-right: 8px;
}
.sidebar_menu .menu a{
    color: #fff;
    font-size:20px;
    text-decoration: none;
}

.sidebar_menu .menu li:hover{
    border-left: 1px solid #fff;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}